* {
  background-color: #282c34;
  color: white;
}

.parent {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 50px;
  margin: 100px!important;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.form-container {
  width: 600px;
}

.previous-answer,
.current-answer {
  margin: 50px;
  padding: 50px;
  background-color: slategray;
  border-radius: 3rem;
  color: white;
}

.current-question {
  margin: 50px;
  padding: 50px;
  background-color:darkslategrey;
  border-radius: 3rem;
  color: white;
}