aiohttp
aiosignal
async-timeout
attrs
blinker
certifi
charset-normalizer
click
distlib
filelock
Flask==2.2.5
Flask-Cors
frozenlist
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
multidict
openai
packaging
platformdirs
python-dotenv
requests
tqdm
urllib3
virtualenv
Werkzeug
yarl
